
div {
        border-color: #000000;
        border: 1px solid ;
        background-color:rgb(173, 6, 14);
            border-top-right-radius: 10px 10px;
                border-bottom-left-radius: 10px 10px;
                border-start-start-radius: 10px 10px;
                border-end-end-radius: 10px 10px;
        color-scheme: light dark;
       
    }
 
h1 {
    border-color: #000000;
        border: 1px solid;
        background-color: rgb(255, 188, 221);
        border-top-right-radius: 10px 10px;
        border-bottom-left-radius: 10px 10px;
        border-start-start-radius: 10px 10px;
        border-end-end-radius: 10px 10px;
        border-style: inset;
    
    color: rgb(255, 255, 255);
    font: 3rem "Fira Sans", sans-serif;
    
}

p {
    color: black;
}
