body { 
        background-image: url('https://wallpapers.com/images/featured-full/4k-background-fd313fxzl511betu.jpg');
        backdrop-filter: blur(10px);
    background-repeat: no-repeat; }
        


 